.header__lang-link_en {
margin: 0;
padding: 0;
width: 29px;
height: 28px;
color: #FFF;
text-decoration: none;
top: 48px;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: right;
}

.header__lang-link_en {
opacity: 0.4;
-webkit-transition: opacity .3s ease-in;
-moz-transition: opacity .3s ease-in;
-ms-transition: opacity .3s ease-in;
-o-transition: opacity .3s ease-in;
transition: opacity .3s ease-in;
}  

@media screen and (max-width:767px) {
.header__lang-link_en {
width: 22px;
height: 20px;
font-size: 18px;
line-height: 20px;
}
}
