.cover {
margin: 0 auto;
padding-top: 245px;
padding-bottom: 245px;
padding-right: 312px;
padding-left: 312px;
margin-top: 92px;
max-width: 1184px;
max-height: 740px;
background-image: url('../../images/cover/cover-trains.jpg');
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
position: relative;
}
.cover:before {
content: "";
background: #2A2C2F;
opacity: 0.3;
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
z-index: 0;
transition: 0.3s;
}

.cover:hover:before {
opacity: 0.8;
}

@media screen and (max-width:767px) {
.cover {
margin-top: 64px;
padding-top: 33px;
padding-bottom: 33px;
padding-right: 16px;
padding-left: 16px;
}
}

@media screen and (max-width:1023px) {
.cover {
margin-top: 90px;
padding-top: 115px;
padding-bottom: 115px;
padding-right: 104px;
padding-left: 104px;
}
}

@media screen and (max-width:1279px) {
.cover {
width: 100%;
padding-top: 195px;
padding-bottom: 195px;
padding-right: 232px;
padding-left: 232px;
}
}
