.place__link {
margin: 0;
padding: 0;
width: 100%;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-decoration-line: underline;
color:  #FFF;
}

.place__link:hover {
opacity: 0.8;
-webkit-transition: opacity .3s ease-in;
-moz-transition: opacity .3s ease-in;
-ms-transition: opacity .3s ease-in;
-o-transition: opacity .3s ease-in;
transition: opacity .3s ease-in;
}  

@media screen and (max-width: 767px) {
 .place__link {
width: calc(100% - 16px*2);
}
}